<div id="follow-icons">
	<a href="http://instagram.com/zhangmin510"><i class="fa fa-instagram fa-2x"></i></a>
	<a href="http://pinterest.com/zhangmin510"><i class="fa fa-pinterest-square fa-2x"></i></a>
	<a href="http://github.com/zhangmin510"><i class="fa fa-github-square fa-2x"></i></a>
	<a href="http://facebook.com/zhangmin510"><i class="fa fa-facebook-square fa-2x"></i></a>
	<a href="http://twitter.com/zhangmin510"><i class="fa fa-twitter-square fa-2x"></i></a>
	<a href="http://linkedin.com/in/zhangmin510"><i class="fa fa-linkedin-square fa-2x"></i></a>
	<a href="<%- theme.feed %>"><i class="fa fa-rss-square fa-2x"></i></a>
</div>
<h6><a href="<%- config.root %>about">About</a></h6>
<h6><a href="<%- config.root %>readings">Readings</a></h6>
<h6><a href="<%- config.root %>ir">Investor Relations</a></h6>
<h6><a href="https://www.toutiao.com/c/user/100118204993/">10XChange</a></h6>